*{margin:0;padding:0;height:100%;}
@font-face{
	font-family: eng_font;
	src: url(../font/GeosansLight.ttf);
}

/*container--------------------------------------------*/
body{
	overflow: hidden;
	background: rgba(255,170,170,1);
	background: -webkit-linear-gradient(55deg, #5ef2a7, #5fdcf2);
}
.container{
	position:absolute;
	width:100%;
	text-align:center;
	align-items: center;
	background:url(../img/background.png);
}

/*main box------------------------------------------*/
.main{
	position:absolute;
	top:-70vh;
	left:25vw;
	right:25vw;
	bottom:15vh;
	width:50vw;
	height:70vh;
	background-color:rgba(255,255,255,0.9);
	border-radius: 3px;
	opacity:0;
	text-align:center;
	box-shadow: 0 0 30px rgba(0,0,0,0.4);
	line-height: 5vh;
}

/*textbox--------------------------------------*/
.textbox{
	position:absolute;
	width:88%;
	height:50vh;
	top: 6vh;
	left: 6%;
	right: 6%;
	overflow: scroll;
	overflow-x: hidden;
	opacity: 0;
	text-align: left;

	font-size:25px;
	line-height: normal;
	font-family: eng_font;
}
.content{
	font-size: 17px;
	line-height: 25px;
	color: #555;
	font-family: "微軟正黑體";
}
h1{
	font-size: 32px;
	line-height: 40px;
	text-align: center;
	color: #333;
	font-family: eng_font;
}
h2{
	font-size: 20px;
	line-height: 30px;
	text-align: center;
	color: #CCC;
	font-family: "微軟正黑體";
}

/*Page1 [HOME]---------------------------------*/
#text0{
	opacity: 1;
	z-index: 10;
	width: 100%;
	left: 0;
	right: 0;
	text-align: center;
}
#profile_pic{
	position: relative;
	width:20vh;
	height:20vh;
	border-radius:20vh;
}
/*Page1 icon*/
.icon_box{
	width: 100%;
	height: 100px;
	margin-top:5vh;
}
.fa{
	width: 25px;
	height: 25px;
	padding: 12px;
	border-radius: 50px;
	text-align: center;
	text-decoration: none;
	margin-right: 10px;
	cursor: pointer;
	transition: 0.5s;
}
.fa-facebook{
	border: 2px solid #3b5998;
	color: #3b5998;
}
.fa-facebook:hover{
	transition: 0.5s;
	color: #FFF;
	background-color: #3b5998;
	box-shadow: 0 0 10px #3b5998;
}
.fa-instagram{
	border: 2px solid #F75245;
	color: #F75245;
}
.fa-instagram:hover{
	transition: 0.5s;
	color: #FFF;
	background-color: #F75245;
	box-shadow: 0 0 10px #F75245;
}
.fa-envelope-o{
	border: 2px solid #E4001F;
	color: #E4001F;
}
.fa-envelope-o:hover{
	transition: 0.5s;
	color: #FFF;
	background-color: #E4001F;
	box-shadow: 0 0 10px #E4001F;
}
.fa-telegram{
	border: 2px solid #34ABE3;
	color: #34ABE3;
}
.fa-telegram:hover{
	transition: 0.5s;
	color: #FFF;
	background-color: #34ABE3;
	box-shadow: 0 0 10px #34ABE3;
}
.fa-github{
	border: 2px solid #000;
	color: #000;
}
.fa-github:hover{
	transition: 0.5s;
	color: #FFF;
	background-color: #000;
	box-shadow: 0 0 10px #000;
}
/*Page1 icon content*/
.icon_content{
	position: relative;
	top: 0px;
	left: -28px;
	width: 80px;
	height: 25px;
	background-color: #198d91;
	border-radius: 3px;
	z-index: -5;
	visibility: hidden;
	opacity: 0;
	transition: 0.5s cubic-bezier(1, -0.5, 0.5, 1);

	color: #FFF;
	font-size: 18px;
	font-family: eng_font;
	line-height: 25px;
	text-align: center;
}
.icon_content:before{
	content: "";
	position: absolute;
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	border-bottom: 7px solid #198d91;
	top: -6px;
	left: 34px;
}
.fa:hover .icon_content{
	top: 24px;
	opacity: 1;
	visibility: visible;
}

/*nav---------------------------------------------*/
.nav{
	position:absolute;
	width:100%;
	height:50px;
	bottom: 5vh;
}
.nav li{
	position: relative;
	float: left;
	width:20%;
	margin-right: 3%;
	height:100%;
	list-style: none;
	border: 1px solid #198d91;
	color: #198d91;
	box-sizing: border-box;
	cursor: pointer;
	z-index: 1;

	font-family: eng_font;
	font-size: 25px;
	line-height: 50px;
	transition: 0.8s;
}
#nav_li_0{
	margin-left: 5.3%;
}
.nav li:hover{
	color: #FFF;
	transition: 0.8s;
}

/*nav animate---------------------------------------*/
.nav li:after, .nav li:before{
	content: "";
	position: absolute;
	width: 100%;
	height: 0;
	background: #198d91;
	left: 0;
	transition: all 500ms;
	z-index: -1;
}
.nav li:after{
	top:0;
}
.nav li:before{
	bottom: 0;
}
.nav li:hover:after, .nav li:hover:before{
	transition: all 500ms;
	height: 50%;
}